
.button1 {
    -fx-background-color:
    #223355,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,5,6,7;
    -fx-padding: 12 30 12 30;
    -fx-font-size: 20px;
}
.button {
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: white;
}
.back {
    -fx-padding: 0;
    -fx-font-size: 15px;
    -fx-font-weight: 900;
}
.button1:hover {
    -fx-background-color:
    #223355,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cbb, #223778);
}
.button1:pressed {
    -fx-background-insets: 0,6,7,8;
}
.button1 Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.addPlayer {
    -fx-background-insets: 0,4,5;
    -fx-font-size: 25px;
    -fx-font-weight: 900;
}
.blue {
    -fx-background-color:
    #223355,
    rgb(60,100,200),
    rgb(11, 66, 155);
}
.gray {
    -fx-background-color:
    rgba(00,00,00,0.2),
    rgba(00,00,00,0.4),
    rgba(250,250,250,0.4);
}
.red {
    -fx-background-color:
    rgb(120,40,40),
    rgb(200,60,100),
    rgb(155, 11, 66);
}

.green {
    -fx-background-color:
    rgb(40,120,40),
    rgb(100,200,60),
    rgb(66,155, 11);
}

.yellow {
    -fx-background-color:
    rgb(160,130,0),
    rgb(500,200,60),
    rgb(237,157, 0);
}

.pass {
    -fx-font-size: 14px;
}

