
.button {
    -fx-background-color:
    #223355,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,5,6,7;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.back {
    -fx-padding: 0;
    -fx-font-size: 15px;
    -fx-font-weight: 900;
}
.button:hover {
    -fx-background-color:
    #223355,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cbb, #223778);
}
.button:pressed {
    -fx-background-insets: 0,6,7,8;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.addPlayer {
    -fx-background-color: #ff0000;
}

.pass {
    -fx-font-size: 14px;
}
