
<html>
  <head>
    <title>Reaction - If Data Then That</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/sweetalert/dist/sweetalert.min.js"></script> <link rel="stylesheet" type="text/css" href="/static/sweetalert/dist/sweetalert.css">
  </head>
<body id="index" class="home">

  <div id="banner" class="body">
    <div id="logo">
      <h1><a href="/"><img src="/static/img/logo.svg" class="svg" id="logo-img"/>Reaction<strong> If Data Then That</strong></a></h1>
    </div>
    <div id="nav"><ul>

      {% if title=="Recipes" %}<li class="active">{% else %}<li>{% endif %}
      <a href="/">Recipes</a></li>

      {% if title=="Datasets" %}<li class="active">{% else %}<li>{% endif %}
      <a href="new_dataset">Datasets</a></li>

      {% if title=="About" %}<li class="active">{% else %}<li>{% endif %}
      <a href="About">About</a></li>

    </ul></div>
  </div><!-- /#banner -->

  <div id="title">
    <h2>{{ title }}</h2>
  </div>

  <div id="content">


    {% block content %}{% endblock %}
  

  </div>

  <footer>
    <!--<h3>If Data Then That</h3> -->
  </footer><!-- /#contentinfo -->

</body>
</html>
