{% extends "base.html" %}
{% block content %}

<script src="/static/main.js"></script>
<script>
(function($) {
  $.fn.outerHTML = function() {
        return $(this).clone().wrap('<div></div>').parent().html();
        };
})(jQuery);

function allowDrop(ev) {
      ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function rundrop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)!="db-"){
    html = $("#"+data).clone();
    $("#big-run").html( html  );
  }
}

function dbdrop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)=="db-"){
    $("#create").show()
    html = $("#"+data).clone();
    $("#big-db").html( html  );
  }
}

</script>

<div id="statement">
<h2 id="big">run</h2><div id="big-run" class="big-icon" ondrop="rundrop(event)" ondragover="allowDrop(event)"></div>
<h2 id="big">on</h2><div id="big-db" class="big-icon" ondrop="dbdrop(event)" ondragover="allowDrop(event)"></div>
<button onclick="submit()" id="create"><img class="svg" id="create-icon" alt="Create!" src="/static/img/flask.svg" /></button>
</div>

<div id="template-list">
  <h2>Action templates:</h2>

  {% for action in templates %}
    <a class="no-styling"><div class="list-item-container">
        <div id="{{ action.name }}" style="background-color: #555" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/{{ action.icon }}" /></div>
      <span class="list-desc">{{ action.desc }}</span>
      </div></a>
  {% endfor %}

</div>

<div id="database-list">
  <h2>Databases:</h2>

  {% for action in databases %}
    <a class="no-styling"><div class="list-item-container">
        <div id="db-{{ action.name }}" style="background-color: #555" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/{{ action.icon }}" /></div>
      <span class="list-desc">{{ action.desc }}</span>
      </div></a>
  {% endfor %}

</div>

<script>svgs()</script>


<script>
function submit(){
  action = $("#big-if").children().first().attr('alt');
  reaction = $("#big-then").children().first().attr('alt');
$.post("/new_recipe",
        {
          action: action,
          reaction: reaction
        },
        function(data,status){
          window.location.href = "/";
        });
}



 
    // grab the initial top offset of the navigation 
    var sticky_navigation_offset_top = $('#statement').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky_navigation = function(){
        var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scroll_top > sticky_navigation_offset_top) { 
            $('#statement').css({ 'position': 'fixed', 'top':0 ,'margin-left':0});
            $('#action-list').css({ 'margin-top':160 });
        } else {
            $('#statement').css({ 'position': 'relative' }); 
            $('#action-list').css({ 'margin-top':0 });
        }   
    };
     
    // run our function on load
    sticky_navigation();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky_navigation();
    });
 

</script>

{% endblock %}

