{% extends "base.html" %}
{% block content %}

<script>
(function($) {
  $.fn.outerHTML = function() {
        return $(this).clone().wrap('<div></div>').parent().html();
        };
})(jQuery);

function allowDrop(ev) {
      ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function rundrop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)!="db-"){
    $("."+data).css("display", "block");
    $("#template-list").hide();
    html = $("#"+data).clone();
    $("#big-run").html( html  );
    $("#desc-big-run").html( $("#"+data).attr("alt"));
  }
}

function dbdrop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)=="db-"){
    $("#create").show()
    html = $("#"+data).clone();
    $("#big-db").html( html  );
    $("#desc-big-db").html( $("#"+data).attr("alt"));
  }
}

function db1drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)=="db-"){
    html = $("#"+data).clone();
    $("#big-db1").html( html  );
    $("#desc-big-db1").html( $("#"+data).attr("alt"));
  }
}

function db2drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)!="db-"){
    html = $("#"+data).clone();
    $("#big-db2").html( html  );
    $("#desc-big-db2").html( $("#"+data).attr("alt"));
  }
}

function db3drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  if(data.substring(0,3)=="db-"){
    html = $("#"+data).clone();
    $("#big-db3").html( html  );
    $("#desc-big-db3").html( $("#"+data).attr("alt"));
  }
}

</script>

<div id="statement">
<h2 id="big">run</h2><div class="big-wrap"><div id="big-run" class="big-icon" ondrop="rundrop(event)" ondragover="allowDrop(event)"></div><span id="desc-big-run" class="big-desc"></span></div>

<div class="updated hidden">
  <h2 id="big">on</h2><div class="big-wrap"><div id="big-db" class="big-icon" ondrop="dbdrop(event)" ondragover="allowDrop(event)"></div><span id="desc-big-db" class="big-desc"></span></div>
</div>

<div class="distance hidden">
  <h2 id="big">:</h2><div class="big-wrap"><div id="big-db1" class="big-icon" ondrop="db1drop(event)" ondragover="allowDrop(event)"></div><span id="desc-big-db1" class="big-desc"></span></div>
  <h2 id="big">-</h2><div class="big-wrap"><div id="big-db2" class="big-icon" ondrop="db2drop(event)" ondragover="allowDrop(event)"></div><span id="desc-big-db2" class="big-desc"></span></div>
  <h2 id="big"><</h2><div class="big-wrap"><input id="big-text1" class="big-icon" onchange="$('#create').show()" /><span style="position:relative;top:-100;left:75">km</span><span id="big-if-desc" class="big-desc"></span></div>
</div>

<div class="repeat hidden">
    <h2 id="big">on</h2><div class="big-wrap"><div id="big-db3" class="big-icon" ondrop="db3drop(event)" ondragover="allowDrop(event)"></div><span id="desc-big-db3" class="big-desc"></span></div>
  <h2 id="big">every</h2><div class="big-wrap"><input id="big-text2" class="big-icon" onchange="$('#create').show()" /><span style="position:relative;top:-100;left:85">h</span><span id="big-if-desc" class="big-desc"></span></div>
</div>

</div>

  <button onclick="submit()" id="create"><img class="svg" id="create-icon" alt="Create!" src="/static/img/arrow.svg" /></button>

<div id="draggers">

<div id="template-list">
  <h2>Action templates:</h2>

  {% for action in templates %}
    <a class="no-styling"><div class="list-item-container">
        <div id="{{ action.name }}" alt="{{ action.desc }}" style="background-color: #555" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/{{ action.icon }}" /></div>
      <span class="list-desc">{{ action.desc }}</span>
      </div></a>
  {% endfor %}

</div>
<div class="repeat distance updated hidden" id="database-list">
  <h2>Datasets:</h2>

  {% for action in databases %}
    <a class="no-styling"><div class="list-item-container">
        <div id="db-{{ action.name }}" rel="{{ action.icon }}" alt="{{ action.desc }}" style="background-color: {{ action.color }}" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/{{ action.icon }}" /></div>
      <span class="list-desc">{{ action.desc }}</span>
      </div></a>

  {% endfor %}

    <a class="no-styling" href="new_dataset"><div class="list-item-container">
        <div style="background-color: #555" class="list-item" ><img class="svg icon-list" src="/static/img/new.svg" /></div>
      <span class="list-desc">import dataset</span>
      </div></a>

</div>

<div class="distance hidden" id="database-list">
  <h2>My distances:</h2>

    <a class="no-styling"><div class="list-item-container">
        <div id="me" alt="my location" style="background-color: #555" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/logo.svg" /></div>
      <span class="list-desc">my location</span>
      </div></a>

    <a class="no-styling"><div class="list-item-container">
        <div id="home" alt="my home" style="background-color: #555" class="list-item" draggable="true" ondragstart="drag(event)"><img class="svg icon-list" src="/static/img/logo.svg" /></div>
      <span class="list-desc">my home</span>
      </div></a>


</div>
</div>


<script>svgs()</script>


<script>

function submit(){
  type = $("#big-run").children().first().attr('alt');
  if(type=="timed trigger"){
    dataset = $("#big-db3").children().first().attr('id').slice(3);
    color = $("#big-db3").children().first().css('background-color');
    icon = $("#big-db3").children().first().attr('rel');
    time = $("#big-text2").val()
    act_details = JSON.stringify({"type":"timed","db1":"0","time":time})
  } else if(type=="updated data trigger"){
    dataset = $("#big-db").children().first().attr('id').slice(3);
    color = $("#big-db").children().first().css('background-color');
    icon = $("#big-db").children().first().attr('rel');
  act_details = JSON.stringify({"type":"updated"})
  } else if(type=="distance trigger"){
    dataset = $("#big-db1").children().first().attr('id').slice(3);
    color = $("#big-db1").children().first().css('background-color');
    icon = $("#big-db1").children().first().attr('rel');
    time = $("#big-text1").val()
  act_details = JSON.stringify({"type":"distance","db1":"0","loc2":"0","dist":time})
  }
  else{
    alert(type);
    return
  }

  alert(act_details);

  return;

  swal({title: "Name ",
        text: "if...",
        type: "input",
        showCancelButton: true,
        closeOnConfirm: false,
        animation: "slide-from-top",
        inputPlaceholder:"there is..." },
        function(inputValue){
            if (inputValue === false) return false;
            if (inputValue === ""){
                swal.showInputError("You need to write something!");
                return false
            }
            swal("Nice!", "You wrote: " + inputValue, "success");


            $.post("/new_action",
            {
              name:inputValue,
              color:color,
              icon:icon,
              dataset:dataset,
              act_details: act_details
            },
            function(data,status){window.location.href = "/new_recipe";});

        });
}



 
    // grab the initial top offset of the navigation 
    var sticky_navigation_offset_top = $('#statement').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky_navigation = function(){
        var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scroll_top > sticky_navigation_offset_top) { 
            $('#statement').css({ 'position': 'fixed', 'top':0 ,'margin-left':-3});
            $('#draggers').css({ 'margin-top':220 });
        } else {
            $('#statement').css({ 'position': 'relative','margin-left':0}); 
            $('#draggers').css({ 'margin-top':0 });
        }   
    };
     
    // run our function on load
    sticky_navigation();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky_navigation();
    });
 

</script>

{% endblock %}

